@import "./base.css";

/* colors  */
:root {
  --app-ultra-violet: #6C698D;
  --app-silver: #BFAFA6;
  --app-dim-gray: #6E6A6F;
  --app-validate: #A1CF66;
  --app-surface: #F3F3F3;
  --app-error: #CF6679;
  --app-black: #000000;
  --app-white: #FFFFFF;
}

/* base  */
/* #app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
} */

body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;

}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 46px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 27px;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.card-container {
	display: flex;
  flex-direction: column;
  gap: 46px;
  box-shadow: 0 0 1px 1px var(--app-ultra-violet);
  background-color: var(--app-white);
  max-width: 600px;
  padding: 80px 60px;
  margin: 0 auto;
  align-items: center;
}

.card-banner {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.card-banner img{
  width: 69px;
  height: 69px;
}

.card-banner span {
  font-size: 14px;
}

.card-input{
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding: 0 90px;
  width: 100%;
}

.card-input--username,
.card-input--password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.card-input--username input,
.card-input--password input {
  width: 100%;
}

.card-option {
  display: flex;
  gap: 20px;
  padding: 0 90px;
}
/* .main-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
} */

/* layout  */

/* module  */
.btn_default {
}

.btn_default:hover {
}

.btn_default--disabled {
}

.btn_default--disabled:focus {
}

.btn_default-icon {
}

/* components  */

/* atomes */

.input_default {
}

.input_default--error {
}

.input_default--validate {
}

.input_default--focus {
}

/* molecules  */

/* state  */

/* theme  */
