@import "./base.css";

/* colors  */
:root {
  --app-ultra-violet: #6C698D;
  --app-silver: #BFAFA6;
  --app-dim-gray: #6E6A6F;
  --app-validate: #A1CF66;
  --app-surface: #F3F3F3;
  --app-error: #CF6679;
  --app-black: #000000;
  --app-white: #FFFFFF;
}

/* base  */
#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 46px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 27px;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.container {
	display: flex;
  flex-direction: column;
  gap: 16px;
	justify-content: center;
	box-shadow: -1 3 0px 0px --app-ultra-violet;
  background-color: --app-white;
}

.main-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}

/* layout  */

/* module  */
.btn_default {
}

.btn_default:hover {
}

.btn_default--disabled {
}

.btn_default--disabled:focus {
}

.btn_default-icon {
}

/* components  */

/* atomes */

.input_default {
}

.input_default--error {
}

.input_default--validate {
}

.input_default--focus {
}

/* molecules  */

/* state  */

/* theme  */
